@use '../../app/style/variable' as variable;

.header {
  position: sticky;
  height: 6rem;
  padding-top: 1rem;
  color: map-get(variable.$theme-dark, 'on-default');
  z-index: 1;
  // overflow: hidden;

  .container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      top: -5px;

      background-color: map-get(variable.$theme-light, 'default');
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
      height: 4rem;

      margin: 0 auto;

      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      opacity: 0;
      transition: opacity 0.3s;

      @include variable.media_queries(desktop-xs) {
        width: calc(100% - variable.$gutter);
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    @include variable.media_queries(small) {
      justify-content: center;
    }
  }

  &::after {
    content: '';
    background-color: rgba(1, 1, 1, 0.75);
    inset: 0;
    opacity: 0;
    position: fixed;
    transition:
      opacity 0.7s,
      visibility 0.7s;
    visibility: hidden;
    z-index: -1;
  }

  &__logo {
    width: 300px;
    height: 52px;
    position: relative;

    @include variable.media_queries(desktop) {
      width: 145px;
    }

    @include variable.media_queries(small) {
      width: 90px;
    }

    .logo-dark {
      opacity: 0;
    }

    img {
      width: 85px;
      position: absolute;
      inset: 0;
      margin: auto 0;
    }
  }

  &__nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include variable.media_queries(desktop-xs) {
      justify-content: flex-end;
    }

    @include variable.media_queries(small) {
      display: none;
    }

    nav {
      display: flex;

      @include variable.media_queries(desktop-xs) {
        // [dropdown] {
        //   display: none;
        // }
      }

      li {
        position: relative;
        margin-right: 20px;
        font-size: 0.875rem;
        line-height: variable.$lh-text;
        transition: color 0.3s;
        display: flex;

        a {
          display: flex;
          align-items: center;
          position: relative;

          &::after {
            content: '▼';

            display: flex;
            align-items: center;
            justify-content: center;

            width: 24px;
            height: 24px;

            font-size: 6px;
            margin-left: 0.5rem;
            transition: transform 0.3s;
          }
        }

        &:first-child {
          &::after {
            content: '';
            height: 1.5rem;
            width: 1px;
            margin-left: 0.625rem;
            background-color: map-get(variable.$theme-dark, 'on-default-70');
          }
        }

        &:hover {
          a::after {
            transform: rotate(-180deg) translateY(1px);
          }
        }
      }
    }
  }

  .container {
    position: relative;
  }
}
