@use '../../../app/style/variable' as variable;
@use 'sass:map';

.text_card {
  border-radius: 1rem;
  padding: 3.9375rem 4.25rem;
  max-width: 725px;
  flex: 0 1 590px;
  background-color: #eee;

  h4 {
    margin-bottom: 1.875rem;
    opacity: 0.7;
    line-height: 1.25;
  }

  p {
    margin-bottom: 2.9375rem;
    @include variable.responsive-font-size;
    line-height: variable.$lh-text-second;
  }

  @include variable.media_queries(tablet) {
    min-height: 425px;
  }

  @include variable.media_queries(xx-small) {
    min-height: 385px;
    padding: 2.9375rem 2.25rem;
    gap: 1rem;
  }

  @include variable.media_queries(x-small) {
    min-height: 275px;
    padding: 1.5375rem 0.95rem;
  }

  @include variable.media_queries(small) {
    flex: 0 1 auto;
    min-height: 235px;
  }

  &--dark {
    background-color: map.get(variable.$theme-dark, 'default');
    color: map.get(variable.$theme-dark, 'on-default');
  }
}
