@use '../../../../app/style/variable';

.close_menu {
  position: absolute;
  width: 40px;
  top: 20px;
  right: 20px;

  display: none;

  @include variable.media_queries(desktop) {
    display: block;
  }
}

.open_menu {
  display: none;
  align-items: center;
  margin-right: 30px;

  img {
    max-width: 40px;
  }

  @include variable.media_queries(desktop) {
    display: flex;
  }
}
