@use './_variable' as variable;
@use './normalize.css' as *;
@use 'sass:map';

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: variable.$fontFamily;
  font-size: variable.$fontSize-main;
  font-weight: variable.$fw-normal;
  line-height: variable.$line-height;
  color: map.get(variable.$theme-light, 'on-default');

  &.background-noise {
    background: map.get(variable.$theme-light, 'default') url(/images/noise.png);
  }
}
.main {
  background: map.get(variable.$theme-light, 'default') url(/images/noise.png);
}

.container {
  width: 1800px;
  margin: 0 auto;
  padding: 0 40px;

  // 1800px
  @include variable.media_queries(desktop-ultra) {
    width: 1600px;
  }

  // 1600px
  @include variable.media_queries(desktop-big) {
    width: 1440px;
  }

  // 1440px
  @include variable.media_queries(desktop-xl) {
    width: 1280px;
    padding: 0 30px;
  }

  // 1280px
  @include variable.media_queries(desktop) {
    width: 1024px;
    padding: 0 20px;
  }

  // 1024px
  @include variable.media_queries(desktop-xs) {
    width: 991px;
    padding: 0 10px;
  }

  // 991px
  @include variable.media_queries(tablet) {
    width: 767px;
    padding: 0 10px;
  }

  // 767px
  @include variable.media_queries(xx-small) {
    width: 576px;
  }

  // 576px
  @include variable.media_queries(x-small) {
    width: 460px;
  }

  // 460px
  @include variable.media_queries(small) {
    width: 320px;
  }
}
