.header__add_links {
  padding: 20px 0;
  order: 2;
  margin-top: auto;

  .outline-border {
    color: #fff;
  }

  ul {
    display: flex;
    gap: 0.75rem;
  }

  .button {
    height: 32px;
  }
}
