$size__site_content_width: 1800px;

//* Media Breakpoint
$media_queries: (
  'small': unquote('only screen and (max-width: 460px)'),
  'x-small': unquote('only screen and (max-width: 576px)'),
  'xx-small': unquote('only screen and (max-width: 768px)'),
  'tablet': unquote('only screen and (max-width: 992px)'),
  'desktop-xs': unquote('only screen and (max-width: 1024px)'),
  'desktop': unquote('only screen and (max-width: 1280px)'),
  'desktop-xl': unquote('only screen and (max-width: 1440px)'),
  'desktop-big': unquote('only screen and (max-width: 1600px)'),
  'desktop-ultra': unquote('only screen and (max-width: ' + $size__site_content_width + ')'),
  'retina2': unquote('only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)'),
  'retina3': unquote('only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)'),
  'landscape': unquote('screen and (orientation:landscape) '),
  'portrait': unquote('screen and (orientation:portrait) '),
);

@mixin media_queries($breakpoints) {
  $conditions: ();
  @each $breakpoint in $breakpoints {
    // If the key exists in the map
    $conditions: append($conditions, #{inspect(map-get($media_queries, $breakpoint))}, comma);
  }

  @media #{$conditions} {
    @content;
  }
}

//* Colors
$theme-dark: (
  'default': hsl(230, 6%, 20%),
  'default-15': hsla(230, 6%, 20%, 0.15),
  'default-70': hsla(230, 6%, 20%, 0.7),
  'on-default': hsl(0, 0%, 100%),
  'on-default-70': hsla(0, 0%, 100%, 0.7),
  'second': hsl(0deg 0% 3%),
  'button-background-hovered': hsl(233, 6%, 30%),
  'button-outline-color': hsla(230, 6%, 20%, 0.5),
  'input-placeholder': hsla(230, 6%, 20%, 0.7),
  'input-border': hsla(230, 6%, 20%, 0.5),
  'input-border-15': hsla(230, 6%, 20%, 0.15),
  'input-border-focus': hsl(230, 6%, 20%),
  'toggle-text': hsla(230, 6%, 20%, 0.7),
);
$theme-light: (
  'default': hsl(0, 0%, 100%),
  'default-15': hsla(0, 0%, 100%, 0.15),
  'default-70': hsla(0, 0%, 100%, 0.7),
  'on-default': hsl(230, 6%, 20%),
  'on-default-70': hsla(230, 6%, 20%, 0.7),
  'second': hsl(0deg 0% 3%),
  'button-background-hovered': hsl(0, 0%, 97%),
  'button-outline-color': hsla(0, 0%, 100%, 0.3),
  'input-placeholder': hsla(0, 0%, 100%, 0.7),
  'input-border': hsla(0, 0%, 100%, 0.7),
  'input-border-15': hsla(0, 0%, 100%, 0.15),
  'input-border-focus': hsl(0, 0%, 100%),
  'toggle-text': hsla(0, 0%, 100%, 0.5),
);

//* Fonts
$fontFamily: 'SuisseInt', helvetica, sans-serif;
$fontSize-main: 1rem;
$line-height: 1.5;

$content-text: calc(1.412rem + 0.37559vw);
$content-text-tablet: calc(1.212rem + 0.37559vw);
$content-text-mobile: calc(0.82rem + 0.37559vw);

@mixin responsive-font-size {
  font-size: $content-text;

  @include media_queries(tablet) {
    font-size: $content-text-tablet;
  }

  @include media_queries(xx-small) {
    font-size: $content-text-mobile;
  }
}

$gutter: 3rem;

$border-radius: 0.5rem;

$lh-text: 1.7142857143;
$lh-text-second: 1.2857142857;

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

// Shadow
$inset-shadow: inset 5px 5px 20px 0px #dcdcdc;
