@import './_variable';

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $fontFamily;
  font-size: $fontSize-main;
  font-weight: $fw-normal;
  line-height: $line-height;
  color: map-get($theme-dark, 'default');

  &.background-noise {
    background: #fff url(../../images/noise.png);
  }
}

.container {
  width: 1800px;
  margin: 0 auto;
  padding: 0 40px;

  // 1800px
  @include media_queries(desktop-ultra) {
    width: 1600px;
  }

  // 1600px
  @include media_queries(desktop-big) {
    width: 1440px;
  }

  // 1440px
  @include media_queries(desktop-xl) {
    width: 1280px;
    padding: 0 30px;
  }

  // 1280px
  @include media_queries(desktop) {
    width: 1024px;
    padding: 0 20px;
  }

  // 1024px
  @include media_queries(desktop-xs) {
    width: 991px;
    padding: 0 10px;
  }

  // 991px
  @include media_queries(tablet) {
    width: 767px;
    padding: 0 10px;
    // width: 576px;
  }

  // 767px
  @include media_queries(xx-small) {
    width: 576px;
  }

  // 576px
  @include media_queries(x-small) {
    width: 460px;
  }

  // 460px
  @include media_queries(small) {
    width: 320px;
  }
}

// ? ------------
// ? HEADER - START
// ? ------------

.header {
  position: sticky;
  height: 6rem;
  padding-top: 1rem;
  color: map-get($theme-dark, 'on-default');
  z-index: 1;
  // overflow: hidden;

  .container {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      top: -5px;

      background-color: map-get($theme-light, 'default');
      box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
      height: 4rem;

      margin: 0 auto;

      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;

      opacity: 0;
      transition: opacity 0.3s;

      @include media_queries(desktop-xs) {
        width: calc(100% - $gutter);
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    @include media_queries(small) {
      justify-content: center;
    }
  }

  &::after {
    content: '';
    background-color: rgba(1, 1, 1, 0.75);
    inset: 0;
    opacity: 0;
    position: fixed;
    transition: opacity 0.7s, visibility 0.7s;
    visibility: hidden;
    z-index: -1;
  }

  &__logo {
    width: 300px;
    height: 52px;
    position: relative;

    @include media_queries(desktop) {
      width: 145px;
    }

    @include media_queries(small) {
      width: 90px;
    }

    .logo-dark {
      opacity: 0;
    }

    img {
      width: 85px;
      position: absolute;
      inset: 0;
      margin: auto 0;
    }
  }

  &__nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    @include media_queries(desktop-xs) {
      justify-content: flex-end;
    }

    @include media_queries(small) {
      display: none;
    }

    nav {
      display: flex;

      @include media_queries(desktop-xs) {
        // [dropdown] {
        //   display: none;
        // }
      }

      li {
        position: relative;
        margin-right: 20px;
        font-size: 0.875rem;
        line-height: $lh-text;
        transition: color 0.3s;
        display: flex;

        a {
          display: flex;
          align-items: center;
          position: relative;

          &::after {
            content: '▼';

            display: flex;
            align-items: center;
            justify-content: center;

            width: 24px;
            height: 24px;

            font-size: 6px;
            margin-left: 0.5rem;
            transition: transform 0.3s;
          }
        }

        &:first-child {
          &::after {
            content: '';
            height: 1.5rem;
            width: 1px;
            margin-left: 0.625rem;
            background-color: map-get($theme-dark, 'on-default-70');
          }
        }

        &:hover {
          a::after {
            transform: rotate(-180deg) translateY(1px);
          }
        }
      }
    }
  }

  &__add_links {
    ul {
      display: flex;
      gap: 0.75rem;
    }

    .button {
      height: 32px;
    }
  }
}

.header.light-theme {
  color: map-get($theme-light, 'on-default');

  .logo-light {
    opacity: 0;
  }
  .logo-dark {
    opacity: 1;
  }

  .container::before {
    opacity: 1;
  }

  &::after {
    opacity: 1;
    visibility: visible;
  }

  nav li:first-child::after {
    background-color: map-get($theme-light, 'on-default-70');
  }
}

// ? ------------
// ? DROPDOWN
// ? ------------

.dropdown {
  position: absolute;
  inset: 0;
  top: 59px;

  height: 0;
  width: calc(100% + $gutter);
  left: calc(($gutter / 2) * (-1));

  background: map-get($theme-light, 'default');
  color: map-get($theme-light, 'on-default');

  overflow: hidden;

  padding: 0 300px;

  transition: height 0.5s cubic-bezier(0.25, 0.25, 0.355, 0.99);

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  @include media_queries(desktop) {
    padding: 0 40px;
  }

  &__menu {
    margin-bottom: 2.375rem;
    margin-top: 5.125rem;

    &--about {
      .link,
      .link a {
        padding-left: 0;
      }

      .link {
        &:hover {
          padding-left: 25px;
        }
      }
    }

    &--collection {
      .link:hover .link__icon {
        transform: translateX(0);
      }

      .active a {
        padding-left: 0;
      }
    }

    &:hover li {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }

    li {
      display: flex;
      align-items: center;
      position: relative;

      font-size: calc(1.16197rem + 0.37559vw);
      line-height: 1.3333333333;

      .marker {
        width: 18px;
        border: 1px solid;
        height: 18px;

        position: absolute;

        transition-duration: 0.1s;
        transition-property: transform, opacity;

        &::before {
          content: '';
          display: block;
          height: 0.25rem;
          width: 0.25rem;
          background-color: map-get($theme-light, 'on-default');
          border-radius: 0.25rem;
          margin: 6px auto;
        }
      }

      &:hover .marker {
        opacity: 0;
        transform: translateX(25px);
      }

      &:nth-child(1) .marker {
        border-radius: 5px;
      }

      &:nth-child(4) .marker {
        border-radius: 5px;
      }

      &:nth-child(5) .marker {
        border-radius: 25px;
      }

      a {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 0.375rem 0;
        padding-left: 30px;
      }
    }
  }

  &__sidebar--right {
    display: flex;
    justify-content: center;

    .carousel {
      position: relative;
      width: 357px;
    }
  }
}

.dropdown__close {
  position: absolute;
  top: 30px;
  right: 60px;
  border: 1px solid map-get($theme-light, 'on-default');
  border-radius: 1rem;
  width: 30px;
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  cursor: pointer;

  transition: background 0.5s, color 0.2s;

  &:hover {
    background: linear-gradient(45deg, rgb(43, 43, 43), transparent);
    border-color: #fff;
    color: #fff;
  }
}

.open-collection .dropdown-collection {
  height: 585px;
  z-index: 1;
}
.open-about .dropdown-about {
  height: 585px;
  z-index: 1;
}

.dropdown__menu__swiper {
  .swiper-wrapper {
    height: 585px;
  }
  .swiper-slide {
    cursor: default !important;
    pointer-events: none;
    box-shadow: 0px -1px 21px -6px rgba(34, 60, 80, 0.26);
  }
}

[class^='dropdown__sidebar'] {
  width: 50%;
}

.dropdown__menu--small {
  margin-top: 0;

  li {
    color: rgba(47, 48, 53, 0.7);
    font-size: 0.875rem;
  }
}

.dropdown__image_area {
  position: relative;
  height: 416px;
  width: 416px;

  margin-top: 5.125rem;

  border-radius: 1rem;
  overflow: hidden;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: opacity 0.1s ease-in-out;
  }

  &.toggle-selected {
    img {
      opacity: 0;

      &.selected {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}

.dropdown__menu__selected {
  background: map-get($theme-dark, 'on-default');
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  opacity: 0;

  transition: opacity 0.3s ease-in-out;

  &.clone_in {
    opacity: 1;

    .swiper-slide {
      animation: fading 0.1s;
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    }
  }
}

@keyframes fading {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

// ? ------------
// ? HEADER - END
// ? ------------

.slogan {
  margin-top: -7rem;
  color: map-get($theme-dark, 'on-default');
  background-color: map-get($theme-dark, 'default');
  padding-block: 11.3125rem 2.4375rem;

  @include media_queries(x-small) {
    padding-block: 9.3125rem 2.4375rem;
  }

  .wrapper {
    position: relative;
  }

  h3 {
    max-width: 700px;
    font-size: calc(1.662rem + 0.37559vw);
    line-height: 1.25;
    font-weight: $fw-normal;
    margin-left: 460px;

    @include media_queries(desktop-xs) {
      margin-left: 270px;
    }

    @include media_queries(xx-small) {
      margin-left: 110px;
    }

    @include media_queries(x-small) {
      font-size: calc(1.162rem + 0.37559vw);
    }

    @include media_queries(small) {
      margin-left: 50px;
      font-size: calc(0.762rem + 0.37559vw);
    }
  }
}

.button {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: $fw-normal;
  line-height: $lh-text;
  height: 52px;
  padding: 0 12px;
  max-width: max-content;
  cursor: pointer;

  @include media_queries(xx-small) {
    height: 40px;
  }

  @include media_queries(x-small) {
    font-size: 0.675rem;
  }

  span,
  img {
    pointer-events: none;
  }

  &__icon {
    width: 20px;
    margin-left: 5px;

    filter: invert(18%) sepia(6%) saturate(659%) hue-rotate(192deg) brightness(91%) contrast(94%);
  }
}

.link__icon {
  max-width: 30px;
}

.link {
  transition: padding-left 0.3s ease;

  .link__icon {
    pointer-events: none;
    position: absolute;

    width: 20px;

    opacity: 0;
    transform: translateX(-25px);
    transition-duration: 0.1s;
    transition-property: transform, opacity;

    filter: invert(18%) sepia(6%) saturate(659%) hue-rotate(192deg) brightness(91%) contrast(94%);
  }

  &:hover {
    .link__icon {
      opacity: 1;
    }
  }

  &.active {
    .marker {
      display: none;
    }

    &::before {
      content: '';
      display: block;
      background-color: currentColor;

      width: 0.35rem;
      height: 0.3rem;

      border-radius: 1rem;
      margin-inline: 0.625rem 0.875rem;
    }

    &:hover {
      padding-left: 0;

      .link__icon {
        transform: translateX(-10px);
        opacity: 0;
      }
    }
  }
}

.outline-border {
  border-radius: $border-radius;
  border: 1px solid map-get($theme-light, 'button-outline-color');
  transition: border-color 0.3s;

  &:hover {
    border-color: map-get($theme-light, 'default');
  }
}

.light-theme {
  .outline-border {
    border: 1px solid map-get($theme-dark, 'button-outline-color');
    &:hover {
      border-color: map-get($theme-dark, 'default');
    }
  }
}

.filled {
  border-radius: $border-radius;

  background-color: map-get($theme-light, 'default');
  color: map-get($theme-light, 'on-default');

  transition: background-color 0.3s;

  &-border {
    border: 1px solid map-get($theme-dark, 'button-outline-color');
  }

  &-hover {
    &:hover {
      background-color: map-get($theme-light, 'button-background-hovered');
    }
  }

  &-dark {
    background: map-get($theme-light, 'on-default');
    color: map-get($theme-light, 'default');

    .button__icon {
      filter: invert(97%) sepia(19%) saturate(0%) hue-rotate(299deg) brightness(101%) contrast(103%);
    }

    &:hover {
      background-color: map-get($theme-dark, 'button-background-hovered');
    }
  }
}

.light-theme {
  .filled {
    background-color: map-get($theme-dark, 'default');
    color: map-get($theme-dark, 'on-default');

    .button__icon {
      filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(2%) hue-rotate(257deg) brightness(116%) contrast(100%);
    }

    &-hover {
      &:hover {
        background-color: map-get($theme-dark, 'button-background-hovered');
      }
    }
  }
}

.dark-theme {
  .filled {
    background-color: map-get($theme-light, 'default');
    color: map-get($theme-light, 'on-default');

    .button__icon {
      filter: none;
    }

    &-border {
      border: 1px solid map-get($theme-dark, 'button-outline-color');
    }

    &-hover {
      &:hover {
        background-color: map-get($theme-light, 'button-background-hovered');
      }
    }
  }
}

.animate-icon {
  display: flex;
  overflow: hidden;

  span {
    transition: transform 0.5s;
  }

  img {
    transition: opacity 0.5s, transform 0.3s;
  }
}

.arrow_down {
  position: absolute;
  left: 0;
  bottom: 0;

  cursor: pointer;

  img {
    width: 21px;
  }
}

.promo {
  position: relative;
  padding-block: 3rem;
  color: map-get($theme-dark, 'on-default');

  @include media_queries(xx-small) {
    padding-block: 0;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0 0 50% 0;
    background-color: #2f3035;
  }

  &__inner {
    display: grid;
    border-radius: 0.75rem;
    contain: paint;
    // max-height: 1195px;
  }
  &__image {
    grid-column: 1/-1;
    grid-row: 1;

    img {
      display: block;
      height: auto;
      max-width: 100%;
      object-fit: fill;
      object-position: initial;
      width: auto;
    }
  }
}

.promo__text {
  position: sticky;
  bottom: 0;

  min-height: 13rem;

  padding-bottom: 1rem;
  padding-left: calc(1.2676rem + 5.25822vw);

  grid-column: 1/-1;
  grid-row: 1;

  align-self: end;

  @include media_queries(xx-small) {
    min-height: 9rem;
  }

  @include media_queries(small) {
    min-height: 6rem;
    padding-left: calc(0.0676rem + 5.25822vw);
  }

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, rgba(47, 48, 53, 0), rgba(47, 48, 53, 0.5));
  }

  &--header {
    font-size: calc(1.2676rem + 5.25822vw);
    margin-top: 1.625rem;
    line-height: 1;

    span {
      font-size: 1rem;
      margin-left: -10px;
      margin-bottom: 20px;
      display: block;

      @include media_queries(xx-small) {
        font-size: 0.8rem;
        margin-left: 0px;
      }

      @include media_queries(small) {
        margin-bottom: 10px;
        font-size: 0.6rem;
      }
    }
  }

  .button {
    position: absolute;
    right: 45px;
    bottom: 60px;

    @include media_queries(desktop) {
      bottom: 75px;
    }

    @include media_queries(xx-small) {
      bottom: 40px;
      right: 25px;
    }

    @include media_queries(small) {
      display: none;
    }
  }
}

.collection_carousel {
  min-height: 500px;
  width: 100%;
  height: 100%;
  z-index: 0;

  &__header {
    height: 180px;
    display: flex;
    align-items: center;
    position: relative;

    .control {
      position: absolute;
      width: 350px;
      height: 10px;
      top: -80px;
      right: -50px;
      bottom: 0;
      margin: auto;

      @include media_queries(desktop-xs) {
        top: -140px;
      }

      @include media_queries(small) {
        top: -60px;
      }
    }

    @include media_queries(small) {
      h2 {
        margin: 0 auto;
      }
    }
  }

  &-link {
    margin: 67px 0 93px;

    @include media_queries(desktop-xs) {
      margin: 67px 0 0px;
    }

    .button {
      margin: 0 auto;
    }
  }
}

.swiper-slide {
  background-color: #f6f6f6;
  border-radius: 0.75rem;
  padding: 4.0375rem 1.8125rem 3.125rem;
  overflow: hidden;
  position: relative;

  @include media_queries(x-small) {
    padding: 3.4375rem 2.7125rem 2.125rem;
  }

  &__inner {
    &--info {
      position: relative;
      margin-top: 70px;

      @include media_queries(xx-small) {
        margin-top: 2.5rem;
      }

      &-btn {
        background-color: map-get($theme-dark, 'default');
        position: absolute;
        inset: 0;
        min-width: 200px;
        color: map-get($theme-dark, 'on-default');
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.75rem;
        margin: auto;
        transition: opacity 0.3s ease-in-out, background-color 0.3s;
        opacity: 0;
      }

      &-color {
        position: absolute;
        top: 10px;
        right: 0;
      }

      &-name {
        p {
          opacity: 1;
          transition: opacity 0.35s ease-out;
        }

        p:first-child {
          font-size: calc(1.162rem + 0.37559vw);
          margin-bottom: 5px;
          font-weight: 400;
          line-height: 1.3333333333;
        }

        p:last-child {
          margin-top: 0.3125rem;
          opacity: 0.7;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.7142857143;
        }
      }
    }
    &--img {
      text-align: center;

      img {
        max-width: 390px;
        max-height: 390px;
        box-shadow: -1px 0px 17px 5px rgba(34, 60, 80, 0.19);

        @include media_queries(xx-small) {
          max-width: 170px;
        }

        //? Другой вид отображение картинок в карусели
        // width: 330px;
        // height: 330px;
        // margin: 0 auto;
        // object-fit: cover;
      }
    }
    &--text {
      display: flex;
      overflow-x: hidden;

      position: absolute;
      inset: 0;
      margin: auto;

      opacity: 0;

      p {
        font-size: 320px;
        font-size: sans-serif;
        line-height: 1.3;
        padding: 24px 0;
        white-space: nowrap;
        display: inline-block;
        z-index: -1;
        color: #fff;
      }

      .text1 {
        animation: marquee1 20s infinite linear;
        animation-delay: -20s;

        &::after {
          content: ' ';
        }
      }
      .text2 {
        animation: marquee2 20s infinite linear;
        animation-delay: -10s;

        &::after {
          content: ' ';
        }
      }
    }
  }
}

.swiper-pagination-progressbar.swiper-pagination-horizontal {
  width: 100px;
  top: 80px;
  right: 180px;
  left: auto;
  height: 2px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 80px;
  right: 60px;

  background-color: transparent;
  border-radius: 40px;
  isolation: isolate;
  border-radius: 50px;

  background: #dcdbdd;
  width: 40px;
  height: 40px;
  text-align: center;

  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(47, 48, 53);
    color: #fff;
    transform: scale(1.1);
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 17px;
}

.swiper-button-prev {
  right: 110px;
  left: auto;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgb(47, 48, 53);
}

.swiper-slide:hover {
  cursor: pointer;

  .swiper-slide__inner--text {
    opacity: 1;
  }

  .swiper-slide__inner--info-name p,
  .swiper-slide__inner--info-color {
    opacity: 0;
  }

  .swiper-slide__inner--info-btn {
    opacity: 1;

    &:hover {
      background-color: map-get($theme-dark, 'button-background-hovered');
    }
  }
}

.swiper-slide .icon {
  display: flex;
  align-items: center;
  margin-left: 10px;

  img {
    width: 30px;
  }
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.about_text {
  margin: 7.5rem 0;

  @include media_queries(xx-small) {
    margin: 5rem 0;
  }

  &-gray-bg {
    background: #cfd2df;

    .about_text-img {
      border-radius: 0;
    }

    @include media_queries(small) {
      .about_text__content {
        padding-top: 25px;
      }
    }
  }

  .wrapper {
    display: flex;

    @include media_queries(small) {
      flex-direction: column;
    }
  }

  &__img-left .wrapper {
    flex-direction: row-reverse;

    @include media_queries(xx-small) {
      p {
        width: 250px;
      }
    }

    @include media_queries(x-small) {
      .about_text-img {
        width: 13rem;
        height: 20rem;
      }

      p {
        width: 200px;
      }
    }

    @include media_queries(small) {
      align-items: center;
      flex-direction: column-reverse;

      .about_text-img {
        width: 100%;
        height: 16rem;
        margin-bottom: 50px;
      }

      p {
        width: 100%;
      }

      .about_text__content {
        text-align: center;
      }

      .button {
        margin: 0 auto;
      }
    }
  }

  &-img {
    flex: 0 0 auto;
    background: rgb(118, 124, 130);
    border-radius: 0.75rem;
    width: 55rem;
    height: 55rem;
    object-fit: cover;

    @include media_queries(desktop-big) {
      width: 45rem;
      height: 45rem;
    }

    @include media_queries(desktop-xl) {
      width: 35rem;
      height: 35rem;
    }

    @include media_queries(desktop) {
      width: 25rem;
    }

    @include media_queries(tablet) {
      width: 20rem;
    }

    @include media_queries(xx-small) {
      width: 15rem;
      height: 25rem;
    }

    @include media_queries(small) {
      width: 100%;
      height: 14rem;
      margin-top: 30px;
    }

    picture,
    img {
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    align-items: center;

    @include media_queries(small) {
      padding: 0 10px;
    }

    h3 {
      margin-bottom: 2.25rem;
      opacity: 0.7;
      font-weight: 400;
      line-height: 1.25;
    }

    p {
      width: 570px;
      @include responsive-font-size;
      margin-bottom: 2.25rem;
      font-weight: $fw-normal;
      line-height: $lh-text-second;

      @include media_queries(desktop) {
        width: 510px;
      }

      @include media_queries(desktop-xs) {
        width: 450px;
      }

      @include media_queries(tablet) {
        width: 350px;
      }

      @include media_queries(xx-small) {
        width: 280px;
      }
    }
  }
}

.contact_area {
  background: linear-gradient(0deg, hsla(0, 0%, 96%, 0), #f6f6f6);
  padding: 9rem 0;

  @include media_queries(xx-small) {
    padding: 5rem 0;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    @include media_queries(small) {
      flex-direction: column;
    }

    > div {
      border-radius: 1rem;
      padding: 3.9375rem 4.25rem;
      max-width: 725px;
      flex: 0 1 590px;
      background-color: #eee;

      @include media_queries(tablet) {
        min-height: 425px;
      }

      @include media_queries(xx-small) {
        min-height: 385px;
        padding: 2.9375rem 2.25rem;
        gap: 1rem;
      }

      @include media_queries(x-small) {
        min-height: 275px;
        padding: 1.5375rem 0.95rem;
      }

      @include media_queries(small) {
        flex: 0 1 auto;
        min-height: 235px;
      }

      &.contact_area--dark {
        background-color: map-get($theme-dark, 'default');
        color: map-get($theme-dark, 'on-default');
      }
    }

    h4 {
      margin-bottom: 1.875rem;
      opacity: 0.7;
      line-height: 1.25;
    }

    p {
      margin-bottom: 2.9375rem;
      @include responsive-font-size;
      line-height: $lh-text-second;
    }
  }
}

.advantage {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 203px;
    margin-bottom: 9rem;

    @include media_queries(desktop-xs) {
      gap: 20px;
    }

    @include media_queries(x-small) {
      font-size: 0.775rem;
    }

    @include media_queries(small) {
      flex-direction: column;
    }
  }

  &__item {
    width: 260px;

    @include media_queries(xx-small) {
      min-height: 330px;
    }

    @include media_queries(small) {
      min-height: 230px;
    }

    img {
      margin-bottom: 2.5rem;
    }

    h4 {
      margin-bottom: 1.6875rem;
      max-width: 13.125rem;
      font-size: calc(1.162rem + 0.37559vw);
      line-height: 1.3333333333;

      @include media_queries(x-small) {
        font-size: calc(0.762rem + 0.37559vw);
      }
    }

    p {
      opacity: 0.7;
      font-size: 0.875rem;
      line-height: $lh-text;

      @include media_queries(x-small) {
        font-size: 0.775rem;
      }
    }
  }
}

.footer {
  padding-top: 6.1875rem;
  background-color: #010101;
  color: map-get($theme-dark, 'on-default');

  > .container {
    margin-bottom: 4.0625rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    margin: 0 150px;

    @include media_queries(desktop-xs) {
      margin: 0 70px;
    }

    @include media_queries(tablet) {
      margin: 0;
    }

    @include media_queries(xx-small) {
      flex-direction: column;
    }

    &:last-child {
      border-top: 1px solid hsla(0, 0%, 100%, 0.2);
      padding-top: 3.4375rem;
      margin-top: 3.125rem;
    }
  }

  &__feedback {
    max-width: 500px;

    @include media_queries(desktop-xl) {
      max-width: 370px;
    }

    @include media_queries(tablet) {
      max-width: 290px;
    }

    @include media_queries(xx-small) {
      max-width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-bottom: 3.125rem;
      margin-bottom: 3.375rem;
    }

    &__header {
      @include responsive-font-size;
      line-height: 1.25;
      margin: 0 0 3.4375rem;
    }

    .button {
      margin-bottom: 1.6875rem;
    }

    &__contact {
      font-size: 0.875rem;
      line-height: $lh-text;
      color: map-get($theme-light, 'toggle-text');

      @include media_queries(desktop-xs) {
        a {
          display: block;
        }
      }

      @include media_queries(xx-small) {
        a {
          display: inline-block;
        }
      }
    }
  }

  &__sidebar {
    width: 570px;

    @include media_queries(desktop-xl) {
      width: 370px;
    }

    @include media_queries(xx-small) {
      width: 100%;
    }

    &__menu {
      li {
        margin: 0.375rem 0;
      }
    }

    &__subscribe {
      padding-top: 3.125rem;
      margin-top: 3.375rem;
      border-top: 1px solid hsla(0, 0%, 100%, 0.2);
    }

    &__form {
      p {
        margin-bottom: 1.25rem;
      }

      &__field {
        display: flex;
        height: 52px;

        @include media_queries(small) {
          min-height: 230px;
        }

        @include media_queries(small) {
          min-height: 140px;
        }
      }

      input {
        border: 1px solid map-get($theme-light, 'input-border');
        border-radius: $border-radius;
        line-height: $lh-text;
        font-size: 0.875rem;
        padding: 0.875rem 1.25rem;
        height: inherit;
        margin-right: 12px;

        width: 392px;
        transition: border-color 0.3s;

        @include media_queries(desktop-xl) {
          width: 210px;
        }

        @include media_queries(small) {
          margin-bottom: 10px;
          width: auto;
        }

        &:focus {
          border-color: map-get($theme-light, 'input-border-focus');
        }
      }

      button {
        height: inherit;
        // background-color: #fff;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    @include media_queries(xx-small) {
      justify-content: center;
      margin-bottom: 2.5rem;
    }

    img {
      width: 100px;
    }
  }

  &__link {
    display: flex;

    ul {
      display: flex;

      @include media_queries(small) {
        flex-direction: column;
      }
    }

    li {
      display: flex;
      align-items: center;
      margin-left: 2.375rem;
      color: hsla(0, 0%, 100%, 0.5);
      font-size: 0.875rem;
      line-height: 1.7142857143;
      transition: color 0.3s;

      &:hover a {
        color: map-get($map: $theme-light, $key: default);
      }

      @include media_queries(x-small) {
        font-size: 0.675rem;
      }
    }
  }

  &__parallax {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: sticky;

    background: url(../../images/img8.jpg), #a9896e;
    background-size: cover;
    background-position: 70px -830px;

    color: #fff;
    isolation: isolate;
    overflow: hidden;

    padding-bottom: 5.75rem;
    padding: 7.5rem 0;

    @include media_queries(desktop-xl) {
      background-position: 70px -1130px;
    }

    @include media_queries(desktop-xs) {
      background-position: center;
      background-repeat: no-repeat;
    }

    h5 {
      min-width: min(340px, 100%);
      text-align: center;
      font-size: calc(1.16197rem + 0.37559vw);
      line-height: 1.3333333333;

      @include media_queries(x-small) {
        font-size: calc(0.96197rem + 0.37559vw);
      }
    }

    &::after {
      background: radial-gradient(at center 130%, hsl(36deg 24.73% 17.04% / 79%), hsla(0, 23.67%, 11.46%, 0.18));
      content: '';
      inset: 0;
      position: absolute;
      z-index: -1;
    }
  }
}

.checkbox-style {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-top: 1.75rem;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
    border: 2px solid map-get($theme-light, 'default');
    color: map-get($theme-light, 'on-default');
    display: flex;
    height: 18px;
    justify-content: center;
    width: 1.125rem;
  }
}

[type='checkbox'] {
  display: none;

  &:checked + label::before {
    background: url(../../images/icons/checked.svg), #fff;
    background-size: cover;
  }
}

.copyright {
  margin-top: 0.625rem;
  opacity: 0.5;
  max-width: 450px;

  @include media_queries(desktop-xs) {
    font-size: 0.75rem;
  }

  a {
    text-decoration: underline;
  }
}

.mobile_menu-open_btn {
  display: none;
  align-items: center;
  margin-right: 30px;

  img {
    max-width: 40px;
  }

  @include media_queries(desktop) {
    display: flex;
  }
}

.close_menu {
  position: absolute;
  width: 40px;
  top: 20px;
  right: 20px;

  display: none;

  @include media_queries(desktop) {
    display: block;
  }
}

@include media_queries(desktop) {
  .header.shadowbox-active::after {
    opacity: 1;
    visibility: visible;
    z-index: -1;
  }

  .header__nav {
    position: absolute;

    inset: 0;
    left: -100vw;
    transition: left 0.5s ease;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background: #292a2f;
    border: 2px solid #292a2f;

    height: 100vh;
    width: 100%;

    z-index: 2;

    nav {
      display: none;
    }

    &.active {
      left: 0;
    }
  }

  .header__add_links {
    padding: 20px 0;
    order: 2;
    margin-top: auto;

    .outline-border {
      color: #fff;
    }
  }

  .dropdown {
    position: static;
    height: auto;
    width: 100%;
    inset: 0;
    border-radius: 0;
    padding: 0 20px;

    [class^='dropdown__sidebar'] {
      width: 100%;
    }

    &-collection {
      order: 1;
      background: #292a2f;
      color: #fff;
      margin-top: auto;
    }

    &-about {
      order: 3;
      margin-top: auto;
    }

    .button {
      display: none;
    }

    &__sidebar {
      &--right {
        display: none;
      }
    }

    &__menu {
      margin-bottom: 0;
      margin-top: 0;
      padding: 20px 0;
    }
  }
}

.catalog_promo {
  margin-top: -7rem;
  color: map-get($theme-dark, 'on-default');
  background-color: map-get($theme-dark, 'second');
}

// .webgl canvas {
//   width: 100vw !important;
//   height: 100vh !important;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

.cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
}

.cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px white;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
}

.overlay {
  height: 100%;
  width: 100%;
  background: #000;
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h1 {
  color: #fff;
  font-size: 120px;
  line-height: 140%;
  letter-spacing: 7px;
  position: relative;
  overflow: hidden;
  height: 168px;
  width: 530px;
}

.overlay h1 span {
  position: absolute;
}

.catalog_promo .header {
  font-size: 130px;
    text-align: center;
}